extends ./../layout
block content
 div(style="margin-top:50px") 
  div.alert.alert-info Appointment Home Page
  - var debugMode = 1
  .container(style='width:90%')
    div(ng-app="myApp")
      - var url = url
      - var config = {User: User, patient: patient, treatments: treatments, appointment: appointment, schedule: schedule, protectionMap: protectionMap};
      - var init = "initialize(" + JSON.stringify(config) + ")";

      div(ng-controller="Nto1Controller")
        div(ng-controller="CommonController")
          div(ng-controller="AppointmentController" ng-init="#{init}" ngcloak)

            div#topMessage

            form#Queue(ng-submit="queue()")
              table.table(width='100%')
                tr
                  td.col-md-4
                    table
                      tr
                        td 
                          b {{ timestamp}}
                        td
                          a.btn.btn-warning.btn-xs(
                              ng-click="loadPatientHistory(patient.id, 'recordData')" 
                              data-toggle="modal" 
                              data-target="#viewHistoryModal"
                              ) View Patient History
                      tr
                        td &nbsp;
                      tr
                        td
                          b Patient 

                        td
                          b {{ patient.firstName }} {{ patient.lastName }} [ {{ patient.age }} yr old {{ patient.gender }} ]
                      tr
                        td
                          b Birthdate: 
                        td 
                          b {{ patient.birthdate | date : 'MMM d, yyyy'}}
                      tr
                        td(colspan=2) 
                          hr

                      tr
                        td 
                          b(data-toggle="tooltip" title="Currently logged in user") Clinician: {{ user.name }}
                      tr
                        td(colspan=2)
                          hr
                      tr
                        td
                          b {{ clinic.name }} [ {{ clinic.id }} ]
                      tr 
                        td {{ clinic.address }}
                  td.col-md-4(align='center')
                     div(ng-if="patient.id")
                      table.table
                        tr
                          td(colspan=4) 
                            h4 Active Protection 
                        tr.active
                          td Vaccine
                          td Taken
                          td Protects Against
                          td Expires
                        tr.success(ng-repeat="applied in treatments")
                          td( style="vertical-align:middle") {{ applied.vaccine.name }}
                          td {{ applied.applied | date:'MMM d, yyyy' }}
                          td
                            table
                              tr(ng-repeat = "protect in protection.Diseases[applied.vaccine.name]")
                                td {{ protect }}
                          td( style="vertical-align:middle") {{ applied.expiry | date:'MMM d, yyyy' }}
                          
                  td.col-md-4(align='right')
                    div(ng-if="patient.id")
                      table.table(ng-init="loadRecommendations(#{JSON.stringify(schedule)}); loadTravel();")
                        tr
                          td &nbsp;
                          td(colspan=2)
                            h4 Current Vulnerability: 
                          td(colspan=2) [ Region = {{ patient.region }} ]
                        tr.active
                          th Disease
                          th Vaccine
                          th Recommendation
                          th Status
                          th Load

                        tr.danger(ng-repeat="need in schedule")
                            td {{ need.disease.name }}
                            td 
                              span(ng-if="need.vaccine.name == undefined")
                                span choose one...
                              span(ng-if="need.vaccine.name ")
                                span {{ need.vaccine.name }}
                            td {{ need.recommendation }}
                            td &nbsp;
                            td
                              a.btn.btn-primary.btn-xs(
                                tabindex="0"
                                data-trigger='focus'
                                data-toggle='popover'
                                data-html="true"
                                data-placement='left' 
                                ng-click="loadScheduledVaccinations(need.disease)" 
                                title="Load Scheduled Vaccinations" 
                                data-content="This would dynamically load suggested vaccinations by retrieving via API all pending suggested vaccinations based on:<UL><LI>vaccination history</LI><LI>patient age</LI><LI>location</LI><LI>scheduled travel itinerary</LI></UL><P><B>Vaccines added below for Example Only</B></P>"
                                ) 
                                i.fa.fa-question-circle
                        tr
                          td &nbsp;
                          td(colspan=2) 
                            h4 Travel Requirements: 
                             a.btn.btn-success.btn-xs(ng-click="addTravel()" onclick="alert('Add modal to Manage travel plans')") +
                        tr.active
                          th Region
                          th Disease
                          th Recommendation
                          th Status
                          th Load
                        tr.warning(ng-repeat="itin in travel")
                          td 
                            b {{itin.region}}
                          td {{itin.start}}
                          td {{itin.finish}}
                          td 
                            button.btn.btn-danger.btn-xs(ng-click="deleteTravel($index)") x
                          td
                            a.btn.btn-primary.btn-xs(
                              tabindex="0"
                              data-trigger='focus'
                              data-toggle='popover'
                              data-html="true"
                              data-placement='left' 
                              ng-click="loadScheduledVaccinations(need.disease)" 
                              title="Load Scheduled Vaccinations" 
                              data-content="This would dynamically load suggested vaccinations by retrieving via API all pending suggested vaccinations based on:<UL><LI>vaccination history</LI><LI>patient age</LI><LI>location</LI><LI>scheduled travel itinerary</LI></UL><P><B>Vaccines added below for Example Only</B></P>"
                              ) 
                              i.fa.fa-question-circle
                        tr
                          td &nbsp;
                          td(colspan=2)

                          td &nbsp;
                    div(ng-if="!patient.id")
                      // should never get here .... 
                      table.table(ng-init="loadQueue()")
                        tr
                          td 
                            u 
                              b Queued Patients
                        tr(ng-repeat="qp in queued")
                          td
                            a.btn.btn-primary(href="/appointment/home/{{qp.appointment_id}}", ng-click="loadPatient(qp.id)") {{qp.name}} [ {{ qp.age }} yr old {{ qp.gender }}]

              hr(style='border-width:thick; border-color:black;')

              h3 {{items.length}} Immunization(s) Scheduled:

              div(ng-if="items.length")
                table.table
                  tr.active
                    td &nbsp;
                    td Status
                    td Vaccine
                    td Disease
                    td Reaction
                    td Side Effects
                    td Contraindications
                    td Recommendation
                    td History
                  tr(ng-repeat="q in items")
                    td
                      button.btn.btn-danger.btn-xs(type='button' value="Delete" ng-click="deleteItem($index)") X
                      span &nbsp;
                      span(ng-if="q.status != 'Applied'")
                        button.btn.btn-success.btn-xs(type='button' data-toggle='modal' data-target='#editImmunizationModal' ng-click="activateIndex($index)") Apply            
                      span(ng-if="q.status == 'Applied'")
                        button.btn.btn-warning.btn-xs(type='button' data-toggle='modal' data-target='#editImmunizationModal' ng-click="activateIndex($index)") Edit            
                        i.glyphicon.glyphicon-ok.navbar-right
                    td {{ q.status }}
                    td {{ q.Vaccine }}
                    td {{ q.Disease }}
                    td 
                      div(ng-if="q.reactions") 
                        i.fa.fa-warning
                      div(ng-if="q.status == 'Applied' && !q.reactions")
                        span no
                      div(ng-if="q.status != 'Applied'")
                        span &nbsp;
                    td {{ q.known_side_effect }}
                    td {{ q.Contraindications }}
                    td {{ q.recommendation }}
                    td 
                      a.btn.btn-warning.btn-xs(

                        )  
                        i.fa.fa-info-circle &nbsp; 
                      

            - var clearSearch = "document.getElementById('smartSearch').style.display='none'; document.getElementById('showSS').style.display='block';";
            hr(style='border-width:thick; border-color:black;')
            div#insideScan(style='padding:10px') 

              form#scanForm()
                div.input-group
                  span.input-group-addon 
                    //button.btn.btn-xs.btn-danger#hideSS(onclick="document.getElementById('smartScan').style.display='none'; document.getElementById('showScan').style.display='block';") x
                    i.fa.fa-barcode
                    span &nbsp;
                    button.btn.btn-primary.btn-xs(type='button' ng-click="addBarcodedVaccine()") Add Vaccine(s) &nbsp;
                  
                  input.form-control(type='text' placeholder='-- Scan Vaccine Barcode(s) Here --')

            include ./../Nto1/smartSearch.jade
            div 
              div.modal.fade#editImmunizationModal
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                      h4.modal-title Apply Immunization
                    div.modal-body
                      include editImmunization.jade
                      hr
                      div#insideModal
                    div.modal-footer
                      button.btn.btn-default(type="button button-danger" data-dismiss="modal") Close
                      div.modal.fade#editImmunizationModal

              div.modal.fade#viewHistoryModal  
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                      h4.modal-title Patient History
                    div.modal-body
                      include history.jade
                      hr
                      div#insideModal
                    div.modal-footer
                      button.btn.btn-default(type="button button-danger" data-dismiss="modal") Close

            if debugMode
              hr(style='border-width:thick; border-color:black;')
              .container(style='width:90%')
                h3 Development Feedback (for Debugging purposes only) :

                div(ng-if="clinic") 
                  b Clinic : {{ JSON.stringify(clinic) }}

                h3 check jade input for: User, clinic, patient, treatment, appointment, schedule, protection, Config
                if User
                  div.alert.alert-warning User: #{JSON.stringify(User)}
                if clinic
                  div.alert.alert-danger Clinic: {{JSON.stringify(clinic)}}
                if patient
                  div.alert.alert-danger Patient: #{JSON.stringify(patient)}
                if treatment
                  div.alert.alert-danger Treatment: #{JSON.stringify(treatment)}
                if appointment
                  div.alert.alert-danger Appointment: #{JSON.stringify(appointment)}
                if schedule
                  div.alert.alert-danger Schedule: #{JSON.stringify(schedule)}
                if protectionMap
                  div.alert.alert-danger Protection: #{JSON.stringify(protectionMap)}
                if config 
                  div.alert.alert-danger Config: #{JSON.stringify(config)}

                h3 check ANGULAR input for: clinic, patient, treatments, appointment, schedule, protection, Config
                div(ng-if="clinic")
                  div.alert.alert-danger Clinic: {{clinic}}
                div(ng-if="patient")
                  div.alert.alert-danger Patient: {{ patient }}
                div(ng-if="protectionMap")
                  div.alert.alert-danger Protection: {{protectionMap}}
                div(ng-if="appointment")
                  div.alert.alert-danger Appointment: {{appointment}}
                div(ng-if="treatments")
                  div.alert.alert-danger Treatments: {{treatments}}
                div(ng-if="schedule")
                  div.alert.alert-danger schedule: {{schedule}}
   